


    <%= form_for @user, html:{class:'form-signup'} do |f|%>
    <h1>Sign up to be SEEN</h1>
    <h4 class="form-signup-heading">Fill out the info below to get started</h4>
      <% if @user.errors.any? %>
        <div class="error_messages">
          <h2>Form is invalid</h2>
          <ul>
            <% for message in @user.errors.full_messages %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= f.text_field :name, placeholder:'Name', class:'form-control' %>
      <%= f.text_field :phone_number, placeholder:'Mobile Number', class:'form-control' %>
      <%= f.password_field :password, placeholder:'Password', class:'form-control' %>
      <%= f.password_field :password_confirmation, placeholder:'Re-Type Password', class:'form-control' %>

      <div class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>

      <%= f.submit "Submit", :class => 'submit-buttons'%>

    <% end %>
