


    <%= form_for @user, html:{class:'form-signup'} do |f|%>
    <h1>Sign up. Start living.</h1>
    <h3 class="form-signup-heading">Fill out the info below to get started</h3>
    
      <%= f.text_field :name, placeholder:'Name', class:'form-control' %>
      <%= f.telephone_field :phone_number, placeholder:'Mobile Number', class:'form-control' %>
      <%= f.password_field :password, placeholder:'Password', class:'form-control' %>

      <div class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>

      <%= f.submit%>

    <% end %>
