
  <h4>This is your address: </h4>
  <h3><%= @user.address.address %></h3><br>
  <h4>Welcome home.</h4>

  <div class='scroll-box'>
     <div id="map">

     </div>
   </div>

<script type="text/javascript">


   function initMap(){
          if(typeof L=== "undefined"){
                 window.setTimeout(initMap, 100);
                 return;
          }
          var map = L.map('map');
   };



   var osmLink = '<a href="http://openstreetmap.org">OpenStreetMap</a>',
     thunLink = '<a href="http://thunderforest.com/">Thunderforest</a>';
     waterLink = '<a href="http://stamen.com">Stamen Design</a>';

   var osmUrl = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
     osmAttrib = '&copy; ' + osmLink + ' Contributors',
     landUrl = 'http://{s}.tile.thunderforest.com/landscape/{z}/{x}/{y}.png',
     thunAttrib = '&copy; '+osmLink+' Contributors & '+thunLink,
     waterUrl= 'http://{s}.tile.stamen.com/watercolor/{z}/{x}/{y}.jpg',
     waterAttrib ='&copy; '+osmLink+' Contributors & '+waterLink;

   var osmMap = L.tileLayer(osmUrl, {attribution: osmAttrib}),
     landMap = L.tileLayer(landUrl, {attribution: thunAttrib});
     waterMap = L.tileLayer(waterUrl, {attribution: waterAttrib});

   var map = L.map('map', {
       layers: [waterMap] // only add one!
     })
     .setView([<%=@user.address.latitude%>, <%=@user.address.longitude%>], 14);

   var baseLayers = {
   "OSM Mapnik": osmMap,
   "Landscape": landMap,
   "Watercolor": waterMap
   };

   L.control.layers(baseLayers).addTo(map);



     var myIcon = L.icon({
       iconUrl: '/assets/marker-icon.png',
       iconRetinaUrl: '/assets/marker-icon-2x.png',
       iconSize: [38, 95],
       iconAnchor: [22, 94],
       popupAnchor: [-3, -76],
       shadowUrl: '/assets/marker-shadow.png',
       shadowRetinaUrl: '/assets/marker-shadow.png',
       shadowSize: [68, 95],
       shadowAnchor: [22, 94]
   });

     L.marker([<%=@user.address.latitude%>, <%=@user.address.longitude%>], {icon: myIcon}).addTo(map).bindPopup("<b>This is you!<b>").openPopup();


     var popup = L.popup();


     function onMapClick(e) {
         popup
             .setLatLng(e.latlng)
             .setContent("You clicked the map at " + e.latlng.toString())
             .openOn(map);
     }

     map.on('click', onMapClick);
   </script>
