
  <%= form_for @address, html:{class:'form-signup'} do |f|%>
    <h1>Sign up. Start living.</h1>
    <h3 class="form-signup-heading">Fill out the info below to get started</h3>
      <%= f.text_field :city, placeholder:'City', class:'form-control' %>
      <%= f.text_field :country, placeholder:'Country', class:'form-control' %>
      <%= f.number_field :latitude, placeholder:'Latitude Decimal Number', class:'form-control', :step => 'any' %>
      <%= f.number_field :longitude, placeholder:'Longitude Decimal Number', class:'form-control', :step => 'any'%>

      <%= f.submit %>

  <% end %>
