<!DOCTYPE html>
<html>
<head>
  <title>Project2</title>

  <link rel="stylesheet" href="stylesheets/leaflet.css" >
  <script src="javascripts/leaflet.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="jumbotron">

  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <div class="nav_logo">
            <a class="navbar-brand">
            <span class="glyphicon glyphicon-home"></span><span> </span><span id="seen">SEEN</span>
          </a>
          </div>
          <div class='navLogin'>
          <ul class="nav nav-pills nav-justified">
            <% if current_user %>
            <li role="presentation"><span id='nav-links'><%= link_to 'Logout', logout_path, method: :delete, data: {confirm: 'Are you sure?'} %></li></span>
            <% else %>
            <li role="presentation"><%= link_to 'Login', login_path %></li>
            <li role="presentation"><%= link_to 'Sign Up', new_user_path %></li>
            <%end%>
            <% if current_user %>
            <li role="presentation"><%= link_to 'Home', users_path %></li>
            <%else%>
            <li role="presentation"><%= link_to 'Home', '/' %></li>
            <% end %>
            <li role="presentation" >
              <% if current_user %>
               <%= link_to 'My Photos', photo_path(current_user) %>
               <% else %>
               <%= link_to 'My Photos', '/' %>
               <%end%>
            </li>
            <li role="presentation" >
              <% if current_user %>
              <%= link_to 'Community Photos', photos_path %>
              <% else %>
              <%= link_to 'Community Photos', '/' %>
              <%end%>
            </li>
          </ul>
          </div>
        </div>
      </div>
    </nav>
    <div class="jumbo-text"
        <% if current_user%>
        <h1>You are known, welcome <%= User.find(current_user).name %></h1><br>
        <% else %>
        <h1> Welcome - Sign up or Log in to be SEEN </h1><br>
        <% end %>
        <% flash.each do |name, message| %>
      <div class="flash-message flash-message-<%= name %>">
        <%= message %>
      </div>
      <% end %>
  </div>
  </div>
</div>


    <div class='container page'>

    <%= yield %>

    </div

</body>

</html>
