<!DOCTYPE html>
<html>
<head>
  <title>Project2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <img alt="Brand" src="...">
          </a>
          <% if current_user %>
          Signed in as <%= current_user.name %> | <%= link_to "Logout", 'sessions/new' %>
          <% else %>
          <%= link_to 'Login', 'sessions/new' %> | <%= link_to 'Signup', 'users/new' %>
          <% end %>
        </div>
      </div>
    </nav>

    <% flash.each do |name, message| %>
      <div class="flash-message flash-message-<%= name %>">
        <%= message %>
      </div>
    <% end %>

<%= yield %>

  </div>

</body>
</html>
